<form [formGroup]="myForm" class="flex flex-column" [hidden]="success" (ngSubmit)="submitHandler()">
    {{ myForm.value | json }}
    <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
        <mat-error *ngIf="email.invalid && email.touched">
            Correo invalido
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="password" formControlName="password">
        <mat-hint align="end">Debe tener letras y numeros</mat-hint>
        <mat-error *ngIf="password.invalid && password.touched">
            Contraseña invalido
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="dni" formControlName="dni">
        <mat-hint align="end">Documento de identidad</mat-hint>
        <mat-error *ngIf="dni.invalid && dni.touched">
            Documento invalido
        </mat-error>
        <mat-error *ngIf="dni.errors?.minlength && dni.touched">
            Minimo son 8 digitos
        </mat-error>
        <mat-error *ngIf="dni.errors?.maxlength && dni.touched">
            Maximo son 10 digitos
        </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="agree" color="primary">Aceptas las condiciones?</mat-checkbox>
    <hr>
    <button mat-raised-button type="submit" [disabled]="myForm.invalid" color="primary">Sign in</button>
</form>

<div *ngIf="success" class="notification is-success">
    Yay todo nice !!
</div>